{
    "useTabs": false,
    "jsxSingleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "es5",
    "parser": "typescript",
    "semi": true,
    "proseWrap": "never",
    "arrowParens": "avoid"
}
